:root {
  --cor-branco: #fff;
  --cor-preto: #000;
  --cor-preto-t: #0000007d;
  --cor-cinza: #4a4a4af8;
  --cor-laranja: #F15111;

  --lato-light: 'Lato-Light';
  --lato-regular: 'Lato-Regular';
  --montserrat: Montserrat-Medium;
}
