.menu {
  display: flex;
  flex-direction: row;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-cinza-t);
  position: fixed;
  z-index: 2;
}
.logo {
  background: var(--cor-laranja);
  padding: 10px 50px 10px;
  z-index: 3;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
  max-width: 10rem;
}
.opcoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin: 0 0 0 47rem;
  font-family: var(--montserrat);
}
nav.sticky {
  z-index: 10000;
  background-color: var(--cor-preto);
  transition: 0.8s ease;
}
.opcoes a {
  margin: 0 0.6rem;
  text-decoration: none;
  color: var(--cor-branco);
  font-family: var(--montserrat);
  font-size: 0.9rem;
  font-weight: 700;
}
.orcamento {
  background: var(--cor-laranja);
  padding: 30px 0px 30px 50px;
  z-index: 3;
  width: 100%;
  max-width: 16.5rem;
}
.orcamento a {
  color: var(--cor-branco);
  text-decoration: none;
  font-family: var(--montserrat);
  font-size: 0.8rem;
}
nav i.fa {
  display: none;
}

/* Responsivo */
@media screen and (max-width: 1000px) {
  nav i {
    color: var(--cor-branco);
    font-size: 1.5rem;
    margin: 1.3rem 1rem 0 0;
    font-weight: 700;
  }
  .logo {
    padding: 10px 25px 10px;
  }
  .opcoes {
    display: none;
  }
  .orcamento {
    display: none;
  }
}
